<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{subject}}</title>
    <style>
      body { font-family: "Plus Jakarta Sans", sans-serif; color: #282F3C;
      font-size: 16px; padding: 16px; } .main{ padding-bottom: 16px } .password{
      font-size: 16px; font-weight: 700; padding-bottom: 16px; } .regards {
      font-size: 14px } .team { font-size: 14px; font-weight: 500; } .link
      {color: #1E90FF; font-weight: 500;} .login{padding-bottom: 16px;}
    </style>
  </head>
  <body>
    <h1>Hi {{name}}!</h1>
    <p class='main'>
      As of now, you've become an official Deermood Admin, congratulations! You
      are granted permission to manage Deermood's product data as well as
      registered users, themes, and many more. Will great power comes great
      responsibility, so be mindful of your actions as an admin. We wish you a
      great experience.
    </p>
    <p class='login'>
      Here are your credentails that will allow yout to log into your account.
      After logging in you will be able to update your password at any moment.
    </p>
    <p class='password'>
      Email:
      {{email}}
      <br />
      <br />
      Password:
      {{password}}
    </p>
    {{! This link will point to Deermood Admin Panel Login in the future }}
    <p class='login'>Go ahead and
      <a href={{url}} class='link'>login</a>
      onto your new account!</p>
    <p class='regards'>
      Best Regards,
    </p>
    <p class='team'>
      Deermood Team
    </p>
  </body>
</html>